<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="Hydrobouda_logging_configuration">
	<Properties>
		<Property name="filename">target/hydrobouda.log</Property>
		<property name="patterns">%d %p %C{1.} [%t] %m%n</property>
	</Properties>
	<Filter type="ThresholdFilter" level="trace" />

	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout" pattern="${patterns}" />
		</Appender>
		<Appender type="File" name="File" fileName="${filename}">
			<Layout type="PatternLayout" pattern="${pattern}" />
		</Appender>
	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>

</Configuration>