<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hydrobouda - navigation fragment</title>
</head>

<body>
	<!--  navigation fragment -->
	<div id="navigation" th:fragment="navigation" class="w3-container w3-bar w3-black">
		<!-- left aligned items -->
		<a th:href="@{/home}" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a> 
		<a th:href="@{/guestbook}" class="w3-bar-item w3-button"><i class="fas fa-users"></i> Guestbook</a>
		
		<!-- right aligned items -->
		<a th:if="${@environment.getProperty('spring.profiles.active')} == 'dev'" th:href="@{/h2-console}" class="w3-bar-item w3-button w3-right" target="_blank"><i class="fas fa-database"></i> H2 Console</a>
		<a th:href="@{/api/browser/index.html#/hydrobouda/actuator}" class="w3-bar-item w3-button w3-right" target="_blank"><i class="fas fa-cogs"></i> Actuator API</a>
		<a th:href="@{/api/browser/index.html#/hydrobouda/api}" class="w3-bar-item w3-button w3-right" target="_blank"><i class="fas fa-cogs"></i> Repositories API</a>
	</div>
</body>