<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hydrobouda - developement information fragment</title>
</head>

<body>
	<!--  fragment with developement info - displayed only when dev profile is active -->
	<div id="dev_info" th:fragment="devinfo" th:if="${@environment.getProperty('spring.profiles.active')} == 'dev'" class="w3-container w3-black w3-border-bottom">
		Active profile: <span th:text ="${@environment.getProperty('spring.profiles.active')}"> Active profile</span>
	</div>
</body>