<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- template head -->
<head th:replace="fragment_head::head">
</head>

<!-- template body -->
<body>
	<!--  navigation bar -->
	<div th:replace="fragment_navigation::navigation"></div>

	<!-- header -->
	<div class="w3-container w3-blue-gray">
		<h1>Guestbook</h1>
	</div>

	<!-- content -->
	<div class="w3-container">
	
		<!-- form for posting a new guestbook message -->
		<div class="w3-container w3-row w3-margin-top">
			<div class="w3-col l5">
				<div class="w3-container w3-blue-gray ">
					<h3>Your new message:</h3>
				</div>
				<div class="w3-container">
					<form th:action="@{/guestbook}" th:object="${guestbookMessage}" th:method="post">
						<p>
							<label>Author:</label>
							<input class="w3-input w3-border" type="text" th:field="*{author}">
						</p>
						<p>
							<label>Message:</label>
							<textarea class="w3-input w3-border" cols="50" rows="3" th:field="*{text}"></textarea>
						</p>
						<p>
							<input type="submit" value="Post message!"/>
						</p>
					</form>
				</div>
			</div>
		</div>
		
		<!-- list of existing guestbook messages -->
		<!-- TODO - MPR - apply CSS to table with guestbook messages -->
      	<table border="1">
		    <thead>
		        <tr>
		            <th th:text="#{msg.id}" />
		            <th th:text="#{msg.author}" />
		            <th th:text="#{msg.creationDate}" />
		            <th th:text="#{msg.text}" />
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="guestbookMessage, iStat : ${guestbookMessagePage.content}">
	            	<td th:text="'[' + ${guestbookMessage.id} + ']'">ID</td>        				
       				<td th:text = "${guestbookMessage.author}">Author</td>
       				<td th:text = "'(' + ${#dates.format(guestbookMessage.creationDate, 'dd.MM.yyyy HH:mm')} + ')'">Creation date</td>
       				<td th:text="${guestbookMessage.text}">Text</td> 
		        </tr>
		    </tbody>
		</table>
		<div th:if="${guestbookMessagePage.totalPages > 0}" class="pagination">
			<span th:each="pageNumber : ${pageNumbers}">
		    	<a th:href="@{/guestbook(size=${guestbookMessagePage.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==guestbookMessagePage.number + 1} ? active"></a>
		    </span>
		</div>
	</div>

	<!-- footer -->
	<div th:replace="fragment_footer::footer"></div>
	
	</body>
</html>