<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- template head -->
<head th:replace="fragment_head::head">
</head>

	<!-- template body -->
	<body>
		<!-- header -->
		<div th:replace="fragment_header::header"></div>
	
		<!-- headline -->
		<div class="w3-container w3-blue-gray">
			<h1>Guestbook</h1>
		</div>
	
		<!-- content -->
		<div class="w3-container w3-margin">
		
			<!-- form for posting a new guestbook message -->
			<div class="w3-container">
				<h2>Your new message:</h2>
				<div class="w3-row">
					<form th:action="@{/guestbook}" th:object="${guestbookMessage}" th:method="post" class="w3-container w3-col m6 l6">
						<p>
							<label>Author:</label>
							<span class="w3-text-red">*</span>
							<input class="w3-input w3-border" type="text" th:field="*{author}" maxlength="255" th:required="required">
						</p>
						<p>
							<label>Message:</label>
							<span class="w3-text-red">*</span>
							<textarea class="w3-input w3-border" cols="50" rows="2" th:field="*{text}" maxlength="2000" th:required="required"></textarea>
							
						</p>
						<p>
							<input type="submit" value="Post new message!"/>
						</p>
					</form>
				</div>
			</div>
			
			<div class="w3-container">
				<h2>Existing messages in guestbook:</h2>
				
				<!-- paging controls of guestbook - top -->
				<div th:replace="fragment_guestbook_pagination::guestbook_pagination"></div>
				
				<!-- list of existing guestbook messages -->
				<div th:each="guestbookMessage, iStat : ${guestbookMessagePage.content}" class="w3-container w3-leftbar w3-light-grey w3-margin w3-padding">
					<p>
						<strong>
							<span th:text="${guestbookMessage.author}">Author</span>
						</strong>
					</p>
					
					<p>
						<span th:text="${guestbookMessage.text}">Text</span>
					</p>
					
					<p>
						<em>
							<span th:text = "'(' + ${#dates.format(guestbookMessage.creationDate, 'dd.MM.yyyy HH:mm:ss')} + ')'">Creation date</span>
						</em>
					</p>
				</div>
		
				<!-- paging controls of guestbook - bottom -->
				<div th:replace="fragment_guestbook_pagination::guestbook_pagination"></div>
				
				<!--  paging controls of guestbook - idividual page numbers -->
				<div th:if="${guestbookMessagePage.totalPages > 0}" class="w3-container">
					<span th:each="pageNumber : ${pageNumbers}">
				    	<a th:href="@{/guestbook(size=${guestbookMessagePage.size}, page=${pageNumber})}" th:text="|[${pageNumber + 1}]|" th:class="${pageNumber==guestbookMessagePage.number} ? active" th:title="|Go to page ${pageNumber + 1}|"></a>
				    </span>
				</div>
			</div>
		</div>
	</body>
</html>