<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- template head -->
<head th:replace="fragment_head::head">
</head>

<!-- template body -->
<body>
	<!-- developement information -->
	<div th:replace="fragment_devinfo::devinfo"></div>

	<!--  navigation bar -->
	<div th:replace="fragment_navigation::navigation"></div>

	<!-- header -->
	<div class="w3-container w3-blue-gray">
		<h1>Welcome!</h1>
	</div>

	<!-- content -->
	<div class="w3-container">
		<h2>Motto: "Each day brings a plenty of possibilities... to fail" :-)</h2>
		<p>
			<img th:src="@{/img/trollface.jpg}"/>
		</p>
	</div>

	<!-- footer -->
	<div th:replace="fragment_footer::footer"></div>
	
	</body>
</html>