<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- template head -->
<head>
	<title>Login page</title>
</head>

<!-- template body -->
<body>
	<!-- header -->
	<!-- <div th:replace="fragment_header::header"></div> -->
	
	<!-- headline -->
	<div class="w3-container w3-blue-gray">
		<h1>Login page</h1>
	</div>
	
	<!-- content -->
	<div class="w3-container">
	
		<p th:if="${loginError}" class="error">Wrong user or password</p>
		
		<form th:action="@{/login}" method="post">
			<label for="username">Username</label>:
			<input type="text" id="username" name="username" autofocus="autofocus" /> <br />
			<label for="password">Password</label>:
			<input type="password" id="password" name="password" /> <br />
			<input type="submit" value="Login" />
		</form>
	
	</div>
</body>

</html>